/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: black;
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
}

.target {
  background-color: wheat;
  width: 10vh;
  height: 10vh;
  border-radius: 5vh;
}

.invisible {
  display: none;
}

.connection {
  position: fixed;
  left: 6px;
  top: 6px;
  width: 12px;
  height: 12px;
  border-radius: 6px;
}

.no {
  background-color: green;
}

.yes {
  background-color: red;
}

.status {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  position: fixed;
  bottom: 6px;
  width: 100%;
  text-align: center;
}