/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: black;
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
}

.target {
  background-color: wheat;
  width: 10vh;
  height: 10vh;
  border-radius: 5vh;
}

.invisible {
  display: none;
}

.info {
  position: fixed;
  top: 6px;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  font-size: 12px;
  line-height: 0.8em;
  text-align: center;
  color: white;
  box-sizing: border-box;
  background-color: red;
}

.connection {
  left: 6px;
}

.sw {
  left: 22px;
}

.active {
  background-color: green;
}

.dashboard {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  position: fixed;
  bottom: 6px;
  width: 100%;
  text-align: center;
}

.address {
  margin: 12px;
}